@(userProvider: services.UserProvider)(project: Project)(mode: String)(meter : models.Meter = null)(dayTypeForm : Form[_])

@import views.html.commons._ 
@import views.html.helper._
@main(userProvider,"Meter Page"){
	
@daily_calendar(meter)

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
		
        <div class="col-xs-11 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <a href="@routes.ProjectController.showProject(project.id, 0)"><h2>@project.title</h2></a>
          <div id="jumbotron_hc" class="jumbotron">
          
			<div id="daily_series_container" style="min-width: 800px; max-width: 1000px; height: 600px; margin: 0 auto"></div>

          </div>
          <div class="row">
            @daytype_control(meter, dayTypeForm)
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="@routes.ProjectController.showMeterPage(meter.id)" class="list-group-item">Heat Map</a>
            <a href="@routes.TimeSeriesController.showTimeSeriesPage(meter.id)" class="list-group-item active">Time Series</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
	</div><!--/row-->
</div><!--/.container-->

<div>

</div>

<hr>

      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>
@*All the meter information is located here*@
<pre id="meterId" style="display: none">@meter.id</pre>
<pre id="startYear" style="display: none">@meter.startYear</pre>
<pre id="startMonth" style="display: none">@meter.startMonth</pre>
<pre id="startDay" style="display: none">@meter.startDay</pre>
<pre id="endYear" style="display: none">@meter.endYear</pre>
<pre id="endMonth" style="display: none">@meter.endMonth</pre>
<pre id="endDay" style="display: none">@meter.endDay</pre>
<pre id="maxKWh" style="display: none">@meter.maxKWh</pre>
<pre id="minKWh" style="display: none">@meter.minKWh</pre>
}

<pre id="time-series-csv" style="display: none">@for(timeSeriesData <- meter.dataContainer.getTimeSeriesCSV){@timeSeriesData}
</pre>

 <!-- Embedded Javascript router -->
        @helper.javascriptRouter("jsTimeSeriesRoutes")(
              routes.javascript.TimeSeriesController.activateDayType
        )

<script type='text/javascript' src='@routes.TimeSeriesController.jsTimeSeriesRoutes()' defer="defer"></script>

<script typer="text/javascript" charset="utf-8">
var meterId = document.getElementById("meterId").innerHTML;
window.onload = loadChart();
</script>

 <!-- Script that handles the selection of the daily calendar -->
<script>
$("#daily-calendar-table tr").click(function(){
	   $(this).addClass('selected').siblings().removeClass('selected');    
	   var value=$(this).find('td:nth-child(2)').id;
	   alert(value);    
	});

	$('.ok').on('click', function(e){
	    alert($("#daily-calendar-table tr.selected td:nth-child(2)").id);
	});
	
	
</script>
