@(f: Form[_])

@import helper._
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-8") }

             @inputPassword(
                f("password"),
                '_label -> Messages("playauthenticate.login.password.placeholder")
             )

             @inputPassword(
                f("repeatPassword"),
                '_label -> Messages("playauthenticate.login.password.repeat"),
                '_showConstraints -> false,
                '_error -> f.error("password")
             )